@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
 .pcs:after {
	 content: " pcs";
}
 .cur:before {
	 content: "$";
}
 .per:after {
	 content: "%";
}
 * {
	 box-sizing: border-box;
}
 body {
	 padding: 0.2em 2em;
}
 table {
	 width: 95%;
     margin: 1%;


}
 table th {
	 text-align: left;
	 border-bottom: 1px solid #ccc;
}
 table th, table td {
	 padding: 0.4em;
}
table.fold-table{
	background-color:white;
}
 table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
	 cursor: pointer;
}
 table.fold-table > tbody > tr.view td:first-child, table.fold-table > tbody > tr.view th:first-child {
	 position: relative;
	 padding-left: 20px;
}
 table.fold-table > tbody > tr.view td:first-child:before, table.fold-table > tbody > tr.view th:first-child:before {
	 position: absolute;
	 top: 50%;
	 left: 5px;
	 width: 9px;
	 height: 16px;
	 margin-top: -8px;
	 font: 16px fontawesome;
	 color: #999;
	 content: "\f0d7";
	 transition: all 0.3s ease;
}
 table.fold-table > tbody > tr.view:nth-child(4n-1) {
	 background: #eee;
}
 table.fold-table > tbody > tr.view:hover {
	 background: #a3d6ff;
}
 table.fold-table > tbody > tr.view.open {
	 background: #a3d6ff;
	 color: white;
}
 table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
	 transform: rotate(-180deg);
	 color: #333;
}
 table.fold-table > tbody > tr.fold {
	 display: none;
}
 table.fold-table > tbody > tr.fold.open {
	 display: table-row;
}
 .fold-content {
	 padding: 0.5em;
}
 .fold-content h3 {
	 margin-top: 0;
}
 .fold-content > table {
	 border: 2px solid #ccc;
}
 .fold-content > table > tbody tr:nth-child(even) {
	 background: #eee;
}

.filterSearch {
    float: left;
}

.form-control{
	padding-right: 0px
}
td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
   background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
.filterSearchOuter{
	padding-top: 10px;
	padding-left: 10px;
}

td a {
	color: #007bff;
}

td a:hover{
	text-decoration: underline;
}

img.thumbnail{
	width:25px;
  height: 25px;
}

img.thumbnail{
	border: solid 4px transparent; 
}
img.thumbnail:hover{
	border-color:  ##a64bf4;
}

table.innerTable{
	overflow: auto;
}

.hideShow{
	vertical-align:middle;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	line-height: 1em;
	    padding-left: 0.5em;
}

.searchTable{
	margin-top: 10px;
	margin-bottom: 10px;
	
}

input[type='checkbox'].hideShow{
    float: left;
		width: 20px;
		padding: 0;
		
}
/* .alwaysGroup{
    display: inline-block;
    vertical-align: middle;
} */

